<%= render partial: '/layouts/contact_us' %>

<footer class="ccs-footer" role="contentinfo">
  <div class="govuk-width-container">
    <div class="ccs-footer__meta">
      <div class="ccs-footer__meta-item">
        <div class="ccs-footer__logo">
           <%= render partial: '/layouts/logo' %>
        </div>
        <div class="ccs-footer__copyright">
          <a
            class="ccs-footer__link"
            href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
          >© Crown copyright</a>
        </div>
      </div>
      <div class="ccs-footer__meta-item ccs-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden">Support links</h2>
        <ul class="ccs-footer__inline-list ccs-footer__inline-list--botto">
          <li class="ccs-footer__inline-list-item">
            <%= link_to t('.cookie_policy_link'), cookie_policy_path, class: 'ccs-footer__link', aria: { label: t('.cookie_policy_link_aria_label') } %>
          </li>
          <li class="ccs-footer__inline-list-item">
            <%= link_to t('.cookie_settings_link'), cookie_settings_path, class: 'ccs-footer__link', aria: { label: t('.cookie_settings_link_aria_label') } %>
          </li>
          <li class="ccs-footer__inline-list-item">
            <%= link_to t('.privacy_link_text'), t('.privacy_link'), class: 'ccs-footer__link', aria: { label: t('.privacy_link_aria_label') }, target: '_blank' %>
          </li>
          <li class="ccs-footer__inline-list-item">
          <%= link_to t('.accessibility_statement_link'), accessibility_statement_path, class: 'ccs-footer__link', aria: { label: t('.accessibility_statement_link_aria_label') } %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
